<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layouts/layout}"
>
<head>
    <title>Sample</title>
    <!--    <link rel="stylesheet" >-->
</head>
<body>
<div layout:fragment="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Edit Order Form</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            Edit Content Form
            <form method="post" th:action="@{/orders/save}" th:object="${order}">
                <div class="form-group">
                    <label for="order-status">Order Status</label>
                    <input th:filed="*{order_status}" class="form-control" id="order-status" th:value="*{order_status}" th:name="order-status">
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>