<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layouts/layout}"
>
<head>
    <title>Sample</title>
    <!--    <link rel="stylesheet" >-->
</head>
<body>

<div id="main-content" layout:fragment="main-content">
    <!--    <form method="post" th:action="@{/buyer/account/order}" th:object="${order}">-->
    <!--    <table class="table table-hover">-->
    <!--        <thead>-->
    <!--        <tr>-->
    <!--            <th scope="col">#</th>-->
    <!--            <th scope="col">Ordered Products</th>-->
    <!--            <th scope="col">Order Status</th>-->
    <!--            <th scope="col">Action</th>-->

    <!--        </tr>-->
    <!--        </thead>-->
    <!--        <tbody>-->
    <!--        <tr th:each="order:${orders}">-->
    <!--            <th scope="row" th:text="${order.id}"></th>-->
    <!--            <td th:text="${order.product_id}"></td>-->
    <!--            <td th:text="${order.order_status}"></td>-->
    <!--            <td>-->
    <!--                <a th:href="@{/orders/edit/{id}(id = ${order.id})}">Edit</a><br>-->
    <!--                <a th:href="@{/orders/delete/{id}(id = ${order.id})}">Delete</a>-->
    <!--            </td>-->
    <!--        </tr>-->
    <!--        </tbody>-->
    <!--    </table>-->
    <!--    </form>-->
<!--    <form method="post" th:action="@{/addmin/account/edit}" th:object="${orders}">-->
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Status</th>
            <th scope="col">Price</a></th>
            <th scope="col">Products</th>
            <th scope="col">Shipping Address</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order:${orders}">
            <th scope="row" th:text="${order.id}"></th>
            <td th:text="${order.order_status}"></td>

            <td th:text="${order.product_price}"></td>

            <td th:each="pro:${products}">
                <span th:text="${pro.id}"></span>
                <span th:text="${pro.name}"></span>
            </td>
            <td th:text="${order.address_id}"></td>
            <td>
                <a class="btn btn btn-primary" th:href="@{/admin/account/edit/{id}(id = ${order.id})}"> Edit</a>
                <a class="btn btn btn-danger" th:href="@{/admin/account/delete/{id}(id = ${order.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
<!--    </form>-->
</div>

</body>
</html>