<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/user/layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Shipping address Saved</title>
</head>
<body>
<div id="main-content" layout:fragment="main-content">
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">paymentType</th>
                <th scope="col">cardName</th>
                <th scope="col">cardNumber</th>
                <th scope="col">cardExpiry</th>
                <th scope="col">CVV</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="pay, iterStat : ${allPaymentMethod}">
                    <td scope="row" th:text="${iterStat.count}"></td>
                    <td th:text="${pay.id}"></td>
                    <td th:text="${pay.paymentType}"></td>
                    <td th:text="${pay.cardName}"></td>
                    <td th:text="${pay.cardNumber}"></td>
                    <td th:text="${pay.cardExpiry}"></td>
                    <td th:text="${pay.CVV}"></td>
                    <td><a th:href="@{/editPayment/{id}(id=${pay.id})}">Update</a></td>
                    <td><a th:href="@{/deletePayment/{id}(id=${pay.id})}">Delete</a></td>
                </tr>
            </tbody>

        </table>
    </div>


</div>
</body>
</html>